---
layout: default
title: Yucz's 个人博客
---
{% for post in paginator.posts %}
<div class="post main">
	<div class="date">		
		<div class="background">
			<span class="day">{{ post.date | date_to_string | truncatewords: 2 | remove: '...' }}</span><br>
			<span class="month">{{ post.date | date_to_string | split: ' ' | last }}</span><br>
		</div>
	</div>
	<div class="detail">
		<h2 class="title"><strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong></h2>
		<a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a>
		<div class="article">
			{{ post.description }}
		</div>
	</div>	
	<div style="clear:both"></div>			
</div>
{% endfor %}
{% if paginator.total_pages > 1 %}  
    {% if paginator.previous_page %}  
        <a href="{{ paginator.previous_page_path }}">上一页</a>  
    {% endif %}  
      
    {% if paginator.next_page %}  
        <a href="{{ paginator.next_page_path }}">下一页</a>  
    {% endif %}  
{% endif %}  
{% include disqus %}