<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>yucz's Tech Space</title>
<link rel="stylesheet" href="/assert/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assert/css/content.css" type="text/css" media="screen">
</head>
<body>

<div id="nav">
	<div class="container">
		<ul id="custom-pages">
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/index.html">首页</a></li>
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/index.html">文章</a></li>
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/index.html">作品</a></li>
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/about.html">关于</a></li>
			<li class="page_item page-item-2"><a href="http://yucz.blog.chinaunix.net" target="_blank">Chinaunix博客</a></li>     
		</ul>
		<div style="clear:both"></div>
	</div>
</div>

<div class="container">
	<div id="header">
		<div id="title">
			<h1><a href="{{ site.baseurl }}/index.html"><span class="bold">yucz's</span> <span class="italic">Tech Space</span></a></h1>
			<p id="subtitle">互联网技术的设计与分享</p>
		</div>
		<div style="clear:both"></div>
	</div>
	<div id="postcount">
	</div>
	<div id="content">
		<div id="about_by_cate">
		<div> 
			<span>关于一切的一切</span><p/><br/>
			<div>
				<div>
					<span>喜欢并主要钻研mysql 、Python、PHP、Linux 及网站设计与开发。</span><span>喜欢做一些小作品，以创业为终级人生规划方向。</span>
				</div>
				<div class="clearfloat">
			</div>
			</div>
			<div>
				<p><span>博客介绍</span></p><br/>
				<div>
					<span>作为 Mysql 专职者，努力学习和研究相关专业技能，</span><span>俗话说好记性不如烂笔头，因此博客系统依然是这个网站的重头戏。将我的学习笔记、心得以及各种点滴等记录在此，不仅是个好习惯，还可以很好的与来自全世界的朋友分享；</span><span>当然其他还有一些小功能，主要是基于兴趣开发的。</span>
				</div>
				<div class="clearfloat"></div>
			</div>
			<div>
				<span>版权说明</span><p/><br/>
				<div>
					<span>博客中部份为个人原创，大多为转载的文章。您可以自由地转载我的博客，但请标明出处。</span><span>站点中收集的很多图片均来自互联网，其所有版权归原作者所有；并且其中的所有内容仅代表我个人的一些兴趣、喜好与立场，如果您也喜欢，很高兴能和您一同分享；</span><span>如果您是文章或图片的作者并觉得有不妥之处，请随时与我联系，我会及时加注版权信息或在您不允许本站使用您的作品的情况下及时删除相关内容。</span>
				</div>
				<div class="clearfloat"></div>
			</div>
			<p/><p/><p/><p/>
		</div>
	</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<ul class="footer-sidebar">				
		</ul>
		<div style="clear:both;"></div>
		<div id="credits">
			Powered by yucz
		</div>
	</div>
</div>
</body>
</html>

