<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ content.title }}</title>
<link rel="stylesheet" href="/assert/css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/assert/css/content.css" type="text/css" media="screen">
</head>
<body>

<div id="nav">
	<div class="container">
		<ul id="custom-pages">
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/index.html">首页</a></li>
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/article.html">文章</a></li>
			<li class="page_item page-item-46"><a href="superdba.cn">超级DBA</a></li>
			<li class="page_item page-item-46"><a href="{{ site.baseurl }}/about.html">关于</a></li>
			<li class="page_item page-item-2"><a href="http://yucz.blog.chinaunix.net" target="_blank">Chinaunix博客</a></li>     
		</ul>
		<div style="clear:both"></div>
	</div>
</div>

<div class="container">
	<div id="header">
		<div id="title">
			<h1><a href="{{ site.baseurl }}/index.html"><span class="bold">yucz's</span> <span class="italic">Tech Space</span></a></h1>
			<p id="subtitle">互联网技术的设计与分享</p>
		</div>
		<div style="clear:both"></div>
	</div>
	<div id="postcount">
	</div>
	<div id="content">
		<div id="index">		
			<div id="posts">
			<div style="text-align:center;">{% content.title %}11</div>
				<div id="left">
					{{ content }}
				</div>
				<!--right-->
				<div id="right">
					<div class="sidebar">
						<div id="categories-3" class="left">
							<h3>类  别</h3>
								<ul>
									{% for cat in site.categories %}
									<li class="cat-item cat-item-6"><a href="{{ site.baseurl }}/categories/{{ cat[0] }}.html">{{ cat[0] }}</a></li>
									{% endfor %}
								</ul>
						</div>
						<div id="categories-3" class="left">
							<h3>Tags</h3>
							<ul></ul>
							{% for tag in site.tags %}
							<a href="{{ site.baseurl }}/tags/{{ tag[0] }}.html">{{ tag[0] }}</a><span>&nbsp;</span>
							{% endfor %}
						</div>
						<div id="recent-posts-3" class="left">
							<h3>近期文章</h3>
								<ul>
									{% for post in site.posts limit:10 offset:0 %}
									<li><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
									{% endfor %}
								</ul>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<div id="footer">

	<div class="container">
		<ul class="footer-sidebar">				
		</ul>
		<div style="clear:both;"></div>

		<div id="credits">
			Powered by yucz
		</div>
	</div>
</div>
</body>
</html>
</html>
